body{
    padding: 10px;
}

/*p, a, li, label, select{
    font-size: 14px;
}*/

form#return label{
    font-size: 18px;
}

img{
    padding-right: 20px;
}

nav{
    margin-top: 50px;
}

nav label{
    font-size: 20px;
}

nav a{
    font-size: 16px;
}

// ============================ nav

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th{  
    border: none;
}


.panel{
    margin: 20px;
}

.review-label{
    text-align: right;
}


// ==============================
.lbl{
    color: #002EB8;
    font-size: 18px; 
}

.lbl-head{
    color: #002EB8;
    font-size: 18px;
    font-weight: bold;
}

.m-left{
    margin-left: 40px;
}

.bg-font{
    font-size: 16px;
}

dt#Multi-label label{
    font-size: 16px;
}

dd#Multi-element label{
    padding: 10px;
    //border: 1px solid red;
}

.big-checkbox{
    width: 20px;
    height: 20px;
}

.big-radio{
    width: 20px;
    height: 20px;
}

#statement{
    padding: 50px;
}

ul.errors{
    margin-top: 10px;
    color: red;
}

ul.errors li{
    list-style-type: none; 
}



// ================================ confirmation and success

.confirm-buttons input{
    margin-left: 15px;
}

// ==

h1{
    color: #002EB8;
}

.panel-heading{
    font-size: 18px;   
}

.listener{
    clear: left;
}

.section{
    display: inline-block;
}

label.key{
    display: inline-block;
    width: 200px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

label.value{
    width: 160px;
    font-size: 16px;
    margin-left: 20px;
    float: left;
}

label.phoneValue{
    width: 160px;
    font-size: 16px;
    margin-left: 20px;
    float: left;
}

// =============================== headers

form{
    border: 1px solid black;
}



