body{
    padding: 10px;
}

/*p, a, li, label, select{
    font-size: 14px;
}*/

// ============================ nav


.navLinks a{
    font-size: 22px;
}

.navLinks label.brand{
    font-size: 18px;
}


// ==============================
.lbl{
    color: #002EB8;
    font-size: 18px;
}

.lbl-head{
    color: #002EB8;
    font-size: 22px;
    font-weight: bold;
}

.m-left{
    margin-left: 40px;
}

.bg-font{
    font-size: 16px;
}

dt#Multi-label label{
    font-size: 16px;
}

dd#Multi-element label{
    padding: 10px;
    //border: 1px solid red;
}

.big-checkbox{
    width: 20px;
    height: 20px;
}

.big-radio{
    width: 20px;
    height: 20px;
}

#radio-form-app{
    clear: left;
    margin-bottom: 50px;
}


#statement{
    padding: 50px;
}

ul.errors{
    margin-top: 10px;
    color: red;
}

ul.errors li{
    list-style-type: none; 
}

.zend_form input{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.zend_form legend{
    color: blue;
}

.zend_form select{
    margin-top: 10px;
    margin-bottom: 10px;
}


.zend_form .color, label, h1{
    //color: #002EB8;
}

.zend_form label{
    font-size: 11px;
}

.zend_form .element .align{
    width: 10px;
}

.zend_form .element .hide{
    width: 10px;
    visibility: hidden;
}

.zend_form .dropdowns select{
    display: inline-block;
    margin-right: 30px;
    text-align: right;
}

.zend_form .element label{
    display: inline-block;
    width: 120px;
    text-align: right;

}

.zend_form .element{
    display: inline-block;
    width: 1000px;
    text-align: left;
}

.zend_form .element input{
    text-align: right;
}

.zend_form input, select, button{
    font-size: 18px;
}

// ================================ confirmation and success

.confirm-buttons input{
    margin-left: 15px;
}

// ==

h1{
    color: #002EB8;
}

.panel-heading{
    font-size: 18px;   
}

.listener{
    clear: left;
}

.section{
    display: inline-block;
}

label.key{
    display: inline-block;
    width: 200px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

label.value{
    width: 160px;
    font-size: 16px;
    margin-left: 20px;
    float: left;
}

// =======================================================================




